// color
$c1: rgba(0, 0, 0, 0.1);
$c2: rgba(0, 0, 0, 0.2);
$c3: rgba(0, 0, 0, 0.3);
$c4: rgba(0, 0, 0, 0.3);
$c5: rgba(0, 0, 0, 0.5);
$c6: rgba(0, 0, 0, 0.6);
$c7: rgba(0, 0, 0, 0.7);
$c8: rgba(0, 0, 0, 0.8);
$c9: rgba(0, 0, 0, 0.9);
$c0: rgba(0, 0, 0, 1);

$cr1: rgba(255, 0, 0, 0.1);
$cr2: rgba(255, 0, 0, 0.2);
$cr3: rgba(255, 0, 0, 0.3);
$cr4: rgba(255, 0, 0, 0.3);
$cr5: rgba(255, 0, 0, 0.5);
$cr6: rgba(255, 0, 0, 0.6);
$cr7: rgba(255, 0, 0, 0.7);
$cr8: rgba(255, 0, 0, 0.8);
$cr9: rgba(255, 0, 0, 0.9);
$cr0: rgba(255, 0, 0, 1);

$cy1: rgba(0, 255, 0, 0.1);
$cy2: rgba(0, 255, 0, 0.2);
$cy3: rgba(0, 255, 0, 0.3);
$cy4: rgba(0, 255, 0, 0.3);
$cy5: rgba(0, 255, 0, 0.5);
$cy6: rgba(0, 255, 0, 0.6);
$cy7: rgba(0, 255, 0, 0.7);
$cy8: rgba(0, 255, 0, 0.8);
$cy9: rgba(0, 255, 0, 0.9);
$cy0: rgba(0, 255, 0, 1);

$cb1: rgba(0, 0, 255, 0.1);
$cb2: rgba(0, 0, 255, 0.2);
$cb3: rgba(0, 0, 255, 0.3);
$cb4: rgba(0, 0, 255, 0.3);
$cb5: rgba(0, 0, 255, 0.5);
$cb6: rgba(0, 0, 255, 0.6);
$cb7: rgba(0, 0, 255, 0.7);
$cb8: rgba(0, 0, 255, 0.8);
$cb9: rgba(0, 0, 255, 0.9);
$cb0: rgba(0, 0, 255, 1);

$cw1: rgba(255, 255, 255, 0.1);
$cw2: rgba(255, 255, 255, 0.2);
$cw3: rgba(255, 255, 255, 0.3);
$cw4: rgba(255, 255, 255, 0.3);
$cw5: rgba(255, 255, 255, 0.5);
$cw6: rgba(255, 255, 255, 0.6);
$cw7: rgba(255, 255, 255, 0.7);
$cw8: rgba(255, 255, 255, 0.8);
$cw9: rgba(255, 255, 255, 0.9);
$cw0: rgba(255, 255, 255, 1);
//theme
$topHeight: 50px;
$sidebarWidth: 250px;
$sidebarWidth_fold: 60px;

$bg1: rgb(46, 46, 46);
$bg2: #e7e7e7;

$text1: rgb(182, 169, 169);
$text2: rgb(240, 218, 218);
